<div id="projects" class="my-Projects-Container">
    <div data-aos="fade-down" data-aos-duration="1000" class="my-Projects-Contents">
        <div class="my-projects-Title">
            @if (this.portfolio.languageGerman) {
            <span>Meine Projekte</span>
            }@else {
            <span>My Projects</span>
            }

        </div>
        <div class="my-Projects-Content">
            <div class="join-Container">
                <div class="project-Buttons-response">
                    <a href="https://github.com/Getinger96/Join"><button class="button-first">GitHub</button></a>
                   <a target="_blank" href="https://erich-getinger.com/Join/login.html"><button
                                class="button-second">Live
                                Test</button></a>
                </div>
                <div class="img-Container">
                    <img src="../../assets/img/my-Projects/Project pic.Join.png" alt="">
                </div>

                <div class="join-Content">

                    <div class="project-Title">
                        <span>Join</span>
                    </div>
                    <div class="project-language">
                        <span>JavaScript | HTML | CSS | Firebase</span>
                    </div>
                    <div class="project-Content">
                        @if (this.portfolio.languageGerman) {
                        <span>Ein Taskmanager inspiriert von einem Kanbansystem.
                            Erstellen und organisieren Sie Aufgaben per Drag-and-Drop, weisen Sie Benutzer und
                            Kategorien
                            zu.
                        </span>
                        }@else {
                        <span>a task manager inspired by a Kanban system.
                            Create and organize tasks using drag and drop, assign users and categories.
                        </span>
                        }

                    </div>
                    <div class="project-Buttons">
                        <a target="_blank" href="https://github.com/Getinger96/Join"><button
                                class="button-first">GitHub</button></a>
                        <a target="_blank" href="https://erich-getinger.com/Join/login.html"><button
                                class="button-second">Live
                                Test</button></a>
                    </div>


                </div>

            </div>

            <div class="Sharkie-Container">
                <div class="project-Buttons-response">
                    <a target="_blank" href="https://github.com/Getinger96/Join"><button
                            class="button-first">GitHub</button></a>
                    <a target="_blank" href="https://erich-getinger.com/Sharkie/index.html"><button
                            class="button-second">Live
                            Test</button></a>
                </div>
                <div class="img-Container">
                    <img src="../../assets/img/my-Projects/Project pic. sharkie.png" alt="">
                </div>

                <div class="sharkie-Content">

                    <div class="project-Title">
                        <span>Sharkie</span>
                    </div>
                    <div class="project-language">
                        <span>JavaScript | HTML | CSS</span>
                    </div>
                    <div class="project-Content">
                        @if (this.portfolio.languageGerman) {
                        <span> Ein Run-and-Throw-Spiel , das auf der Objektorientierung basiert. Hilf Sharkie die Coins
                            und Giftflaschen zu sammeln, um gegen den gefährlichen Killerwal zu kämpfen.
                        </span>
                        }@else {
                        <span> A run and throw game based on object orientation. Help Sharkie get the coins and
                            Collect poison bottles to fight against the dangerous killer whale.
                        </span>
                        }

                    </div>
                    <div class="project-Buttons">
                        <a target="_blank" href="https://github.com/Getinger96/Sharkie"><button
                                class="button-first">GitHub</button></a>
                        <a target="_blank" href="https://erich-getinger.com/Sharkie/index.html"><button
                                class="button-second">Live
                                Test</button></a>
                    </div>


                </div>

            </div>

        </div>
        <div class="colleagues-Container">
            <div class="colleagues-Content">
                <div class="title-Question">
                    @if (this.portfolio.languageGerman) {
                    <span>Brauchen Sie einen Teamplayer?</span>
                    }@else {
                    <span>Need a team player?</span>
                    }
                </div>
                <div class="title-Answer">
                    @if (this.portfolio.languageGerman) {
                    <span>Hier, was meine Kollegen über mich gesagt haben</span>
                    }@else {
                    <span>Here what my colleagues said about me</span>
                    }
                </div>

            </div>
            <div class="colleagues">
                <img src="../../assets/img/my-Projects/Arrow.png" alt="">
                <div class="colleagues-Sentence">
                    <div class="colleague-Name">
                        <span>Philip
                            Tesch</span>
                        <span class="project-Name">Project Join</span>
                    </div>
                    <div class="colleague-Comment">
                        @if (this.portfolio.languageGerman) {
                        <span>"Ich habe Erich als einen äußerst freundlichen und
                            hilfsbereiten
                            Teamkollegen kennengelernt, der stets besonnen bleibt und auch in stressigen Situationen
                            einen
                            kühlen Kopf bewahrt."</span>
                        }@else {
                        <span>I found Erich to be an extremely friendly and
                            helpful
                            Met a teammate who always remains level-headed, even in stressful situations
                            a
                            keep a cool head."</span>
                        }
                    </div>
                </div>
                <div class="colleagues-Sentence">
                    <div class="colleague-Name">
                        <span>André</span>
                        <span class="project-Name">Project Join</span>
                    </div>
                    <div class="colleague-Comment">
                        @if (this.portfolio.languageGerman) {
                        <span>"Ich habe mit Erich am Join Projekt zusammengearbeitet und ihn
                            als
                            äußerst hilfsbereiten und freundlichen Teamkollegen kennengelernt. Er zeigte stets großes
                            Engagement bei der Suche nach Lösungen und bewahrte auch in stressigen Situationen eine
                            angenehme und ruhige Art."</span>
                        }@else {
                        <span>"I worked with Erich on the Join project and him
                            as
                            met extremely helpful and friendly teammates. He always showed great things
                            Commitment to finding solutions and maintaining one even in stressful situations
                            pleasant and calm manner."</span>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>