<div class="menu" [ngClass]="{'d_none':portfolio.overlayVisible==false,'d_flex':portfolio.overlayVisible==true}">
    <div class="x-button"><img (click)="closeMenu()" src="../../assets/img/x_button.png" alt=""></div>
    <div class="a-container">

        <a (click)="closeMenu()" href="#whyme">Why me</a>
        <a (click)="closeMenu()" href="#skills">Skills</a>
        <a (click)="closeMenu()" href="#projects">Projects</a>
        <a (click)="closeMenu()" href="#contact">Contact</a>


    </div>

</div>
<div class="content-impressum">
    <div>
        @if (this.portfolio.languageGerman) {
        <h1 class="adsimple-322951769">Impressum</h1>
        <p class="adsimple-322951769">Informationen über den Diensteanbieter.</p>
        <p class="adsimple-322951769">Erich Getinger</p>
        <p class="adsimple-322951769">Fringsstraße 53, <br />41069 mönchengladbach, <br />Deutschland</p>
        <p>
            <strong>Tel.:</strong> 01771480425<br />
            <strong>E-Mail:</strong> <a href="mailto:Erich.getinger@outlook.de">Erich.getinger&#64;outlook.de</a>
        </p>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <h2 id="eu-streitschlichtung" class="adsimple-322951769 fusion-responsive-typography-calculated"
            data-fontsize="24" style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            EU-Streitschlichtung</h2>
        <p class="adsimple-322951769">Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten
            (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform)
            informieren.<br />
            Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen
            Kommission unter <a class="adsimple-322951769"
                href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                target="_blank"
                rel="follow noopener">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a>
            zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
        <p class="adsimple-322951769">Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder
            verpflichtet sind,
            an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        <h2 id="bildernachweis" class="adsimple-322951769 fusion-responsive-typography-calculated" data-fontsize="24"
            style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            Bildernachweis</h2>
        <p class="adsimple-322951769">Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich
            geschützt.
        </p>
        <p>
            <strong>Die Bilderrechte liegen bei:</strong>
            <br />Erich Getinger
        </p>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <p>Alle Texte sind urheberrechtlich geschützt.</p>
        <p style="margin-top:15px">Quelle: Erstellt mit dem <a href="https://www.adsimple.de/impressum-generator/"
                title="Impressum Generator Deutschland von AdSimple">Impressum Generator</a> von AdSimple</p>
        <h1 class="adsimple-322951769">Datenschutzerklärung</h1>
        <h2 id="einleitung-ueberblick" class="adsimple-322951769">Einleitung und Überblick</h2>
        <p>Wir haben diese Datenschutzerklärung (Fassung 21.02.2025-322951769) verfasst, um Ihnen gemäß der Vorgaben
            der <a class="adsimple-322951769"
                href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=322951769#d1e2269-1-1"
                target="_blank" rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a> und anwendbaren
            nationalen
            Gesetzen zu erklären, welche personenbezogenen Daten (kurz Daten) wir als Verantwortliche &#8211; und
            die von
            uns beauftragten Auftragsverarbeiter (z. B. Provider) &#8211; verarbeiten, zukünftig verarbeiten werden
            und
            welche rechtmäßigen Möglichkeiten Sie haben. Die verwendeten Begriffe sind geschlechtsneutral zu
            verstehen.<br />
            <strong class="adsimple-322951769">Kurz gesagt:</strong> Wir informieren Sie umfassend über Daten, die
            wir über
            Sie verarbeiten.
        </p>
        <p>Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden juristische Fachbegriffe.
            Diese
            Datenschutzerklärung soll Ihnen hingegen die wichtigsten Dinge so einfach und transparent wie möglich
            beschreiben. Soweit es der Transparenz förderlich ist, werden technische <strong
                class="adsimple-322951769">Begriffe leserfreundlich erklärt</strong>, Links zu weiterführenden
            Informationen
            geboten und <strong class="adsimple-322951769">Grafiken</strong> zum Einsatz gebracht. Wir informieren
            damit in
            klarer und einfacher Sprache, dass wir im Rahmen unserer Geschäftstätigkeiten nur dann personenbezogene
            Daten
            verarbeiten, wenn eine entsprechende gesetzliche Grundlage gegeben ist. Das ist sicher nicht möglich,
            wenn man
            möglichst knappe, unklare und juristisch-technische Erklärungen abgibt, so wie sie im Internet oft
            Standard
            sind, wenn es um Datenschutz geht. Ich hoffe, Sie finden die folgenden Erläuterungen interessant und
            informativ
            und vielleicht ist die eine oder andere Information dabei, die Sie noch nicht kannten.<br />
            Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw. im Impressum genannte
            verantwortliche Stelle zu wenden, den vorhandenen Links zu folgen und sich weitere Informationen auf
            Drittseiten
            anzusehen. Unsere Kontaktdaten finden Sie selbstverständlich auch im Impressum.</p>
        <h2 id="anwendungsbereich" class="adsimple-322951769">Anwendungsbereich</h2>
        <p>Diese Datenschutzerklärung gilt für alle von uns im Unternehmen verarbeiteten personenbezogenen Daten und
            für
            alle personenbezogenen Daten, die von uns beauftragte Firmen (Auftragsverarbeiter) verarbeiten. Mit
            personenbezogenen Daten meinen wir Informationen im Sinne des Art. 4 Nr. 1 DSGVO wie zum Beispiel Name,
            E-Mail-Adresse und postalische Anschrift einer Person. Die Verarbeitung personenbezogener Daten sorgt
            dafür,
            dass wir unsere Dienstleistungen und Produkte anbieten und abrechnen können, sei es online oder offline.
            Der
            Anwendungsbereich dieser Datenschutzerklärung umfasst:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">alle Onlineauftritte (Websites, Onlineshops), die wir betreiben</li>
            <li class="adsimple-322951769">Social Media Auftritte und E-Mail-Kommunikation</li>
            <li class="adsimple-322951769">mobile Apps für Smartphones und andere Geräte</li>
        </ul>
        <p>
            <strong class="adsimple-322951769">Kurz gesagt:</strong> Die Datenschutzerklärung gilt für alle
            Bereiche, in
            denen personenbezogene Daten im Unternehmen über die genannten Kanäle strukturiert verarbeitet werden.
            Sollten
            wir außerhalb dieser Kanäle mit Ihnen in Rechtsbeziehungen eintreten, werden wir Sie gegebenenfalls
            gesondert
            informieren.
        </p>


        <h2 id="rechtsgrundlagen" class="adsimple-322951769">Rechtsgrundlagen</h2>
        <p>In der folgenden Datenschutzerklärung geben wir Ihnen transparente Informationen zu den rechtlichen
            Grundsätzen
            und Vorschriften, also den Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen,
            personenbezogene Daten zu verarbeiten.<br />
            Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679 DES EUROPÄISCHEN PARLAMENTS
            UND DES
            RATES vom 27. April 2016. Diese Datenschutz-Grundverordnung der EU können Sie selbstverständlich online
            auf
            EUR-Lex, dem Zugang zum EU-Recht, unter <a class="adsimple-322951769"
                href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679">https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679</a>
            nachlesen.</p>
        <p>Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden Bedingungen zutrifft:</p>
        <ol>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Einwilligung</strong> (Artikel 6 Absatz 1 lit. a DSGVO): Sie
                haben uns
                Ihre Einwilligung gegeben, Daten zu einem bestimmten Zweck zu verarbeiten. Ein Beispiel wäre die
                Speicherung
                Ihrer eingegebenen Daten eines Kontaktformulars.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Vertrag</strong> (Artikel 6 Absatz 1 lit. b DSGVO): Um einen
                Vertrag oder
                vorvertragliche Verpflichtungen mit Ihnen zu erfüllen, verarbeiten wir Ihre Daten. Wenn wir zum
                Beispiel
                einen Kaufvertrag mit Ihnen abschließen, benötigen wir vorab personenbezogene Informationen.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Rechtliche Verpflichtung</strong> (Artikel 6 Absatz 1 lit. c
                DSGVO): Wenn
                wir einer rechtlichen Verpflichtung unterliegen, verarbeiten wir Ihre Daten. Zum Beispiel sind wir
                gesetzlich verpflichtet Rechnungen für die Buchhaltung aufzuheben. Diese enthalten in der Regel
                personenbezogene Daten.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Berechtigte Interessen</strong> (Artikel 6 Absatz 1 lit. f
                DSGVO): Im
                Falle berechtigter Interessen, die Ihre Grundrechte nicht einschränken, behalten wir uns die
                Verarbeitung
                personenbezogener Daten vor. Wir müssen zum Beispiel gewisse Daten verarbeiten, um unsere Website
                sicher und
                wirtschaftlich effizient betreiben zu können. Diese Verarbeitung ist somit ein berechtigtes
                Interesse.
            </li>
        </ol>
        <p>Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen Interesse und Ausübung öffentlicher
            Gewalt
            sowie dem Schutz lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit eine solche
            Rechtsgrundlage doch einschlägig sein sollte, wird diese an der entsprechenden Stelle ausgewiesen.</p>
        <p>Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">In <strong class="adsimple-322951769">Österreich</strong> ist dies das
                Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten (<strong
                    class="adsimple-322951769">Datenschutzgesetz</strong>), kurz <strong
                    class="adsimple-322951769">DSG</strong>.</li>
            <li class="adsimple-322951769">In <strong class="adsimple-322951769">Deutschland</strong> gilt das
                <strong class="adsimple-322951769">Bundesdatenschutzgesetz</strong>, kurz<strong
                    class="adsimple-322951769">
                    BDSG</strong>.
            </li>
        </ul>
        <p>Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen, informieren wir Sie in den
            folgenden
            Abschnitten darüber.</p>


        <h2 id="kontaktdaten-verantwortliche" class="adsimple-322951769">Kontaktdaten des Verantwortlichen</h2>
        <p>Sollten Sie Fragen zum Datenschutz oder zur Verarbeitung personenbezogener Daten haben, finden Sie
            nachfolgend
            die Kontaktdaten des Verantwortlichen gemäß Artikel 4 Absatz 7 EU-Datenschutz-Grundverordnung
            (DSGVO):<br />
            <span class="adsimple-322951769" style="font-weight: 400">Erich Getinger<br />
                Fringsstraße 53<br />
                41069 Mönchengladbach</span>
        </p>
        <p>E-Mail: <a href="mailto:Erich.getinger@outlook.de">Erich.getinger&#64;outlook.de</a>
            <br />
            Telefon: <a href="tel:01771480425">01771480425</a>
            <br />
            Impressum: <a href="https://www.testfirma.de/impressum/">https://www.testfirma.de/impressum/</a>
        </p>
        <h2 id="speicherdauer" class="adsimple-322951769">Speicherdauer</h2>
        <p>Dass wir personenbezogene Daten nur so lange speichern, wie es für die Bereitstellung unserer
            Dienstleistungen
            und Produkte unbedingt notwendig ist, gilt als generelles Kriterium bei uns. Das bedeutet, dass wir
            personenbezogene Daten löschen, sobald der Grund für die Datenverarbeitung nicht mehr vorhanden ist. In
            einigen
            Fällen sind wir gesetzlich dazu verpflichtet, bestimmte Daten auch nach Wegfall des ursprüngliches
            Zwecks zu
            speichern, zum Beispiel zu Zwecken der Buchführung.</p>
        <p>Sollten Sie die Löschung Ihrer Daten wünschen oder die Einwilligung zur Datenverarbeitung widerrufen,
            werden die
            Daten so rasch wie möglich und soweit keine Pflicht zur Speicherung besteht, gelöscht.</p>
        <p>Über die konkrete Dauer der jeweiligen Datenverarbeitung informieren wir Sie weiter unten, sofern wir
            weitere
            Informationen dazu haben.</p>
        <h2 id="rechte-dsgvo" class="adsimple-322951769">Rechte laut Datenschutz-Grundverordnung</h2>
        <p>Gemäß Artikel 13, 14 DSGVO informieren wir Sie über die folgenden Rechte, die Ihnen zustehen, damit es zu
            einer
            fairen und transparenten Verarbeitung von Daten kommt:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten
                von
                Ihnen verarbeiten. Sollte das zutreffen, haben Sie Recht darauf eine Kopie der Daten zu erhalten und
                die
                folgenden Informationen zu erfahren:
                <ul class="adsimple-322951769">
                    <li class="adsimple-322951769">zu welchem Zweck wir die Verarbeitung durchführen;</li>
                    <li class="adsimple-322951769">die Kategorien, also die Arten von Daten, die verarbeitet werden;
                    </li>
                    <li class="adsimple-322951769">wer diese Daten erhält und wenn die Daten an Drittländer
                        übermittelt
                        werden, wie die Sicherheit garantiert werden kann;</li>
                    <li class="adsimple-322951769">wie lange die Daten gespeichert werden;</li>
                    <li class="adsimple-322951769">das Bestehen des Rechts auf Berichtigung, Löschung oder
                        Einschränkung der
                        Verarbeitung und dem Widerspruchsrecht gegen die Verarbeitung;</li>
                    <li class="adsimple-322951769">dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links
                        zu
                        diesen Behörden finden Sie weiter unten);</li>
                    <li class="adsimple-322951769">die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben
                        haben;</li>
                    <li class="adsimple-322951769">ob Profiling durchgeführt wird, ob also Daten automatisch
                        ausgewertet
                        werden, um zu einem persönlichen Profil von Ihnen zu gelangen.</li>
                </ul>
            </li>
            <li class="adsimple-322951769">Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was
                bedeutet, dass wir Daten richtig stellen müssen, falls Sie Fehler finden.</li>
            <li class="adsimple-322951769">Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf
                Vergessenwerden“), was konkret bedeutet, dass Sie die Löschung Ihrer Daten verlangen dürfen.</li>
            <li class="adsimple-322951769">Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der
                Verarbeitung, was
                bedeutet, dass wir die Daten nur mehr speichern dürfen aber nicht weiter verwenden.</li>
            <li class="adsimple-322951769">Sie haben laut Artikel 20 DSGVO das Recht auf Datenübertragbarkeit, was
                bedeutet,
                dass wir Ihnen auf Anfrage Ihre Daten in einem gängigen Format zur Verfügung stellen.</li>
            <li class="adsimple-322951769">Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach
                Durchsetzung
                eine Änderung der Verarbeitung mit sich bringt.
                <ul class="adsimple-322951769">
                    <li class="adsimple-322951769">Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e
                        (öffentliches Interesse, Ausübung öffentlicher Gewalt) oder Artikel 6 Abs. 1 lit. f
                        (berechtigtes
                        Interesse) basiert, können Sie gegen die Verarbeitung Widerspruch einlegen. Wir prüfen
                        danach so
                        rasch wie möglich, ob wir diesem Widerspruch rechtlich nachkommen können.</li>
                    <li class="adsimple-322951769">Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie
                        jederzeit gegen diese Art der Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach
                        nicht
                        mehr für Direktmarketing verwenden.</li>
                    <li class="adsimple-322951769">Werden Daten verwendet, um Profiling zu betreiben, können Sie
                        jederzeit
                        gegen diese Art der Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr
                        für
                        Profiling verwenden.</li>
                </ul>
            </li>
            <li class="adsimple-322951769">Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer
                ausschließlich auf einer automatisierten Verarbeitung (zum Beispiel Profiling) beruhenden
                Entscheidung
                unterworfen zu werden.</li>
            <li class="adsimple-322951769">Sie haben laut Artikel 77 DSGVO das Recht auf Beschwerde. Das heißt, Sie
                können
                sich jederzeit bei der Datenschutzbehörde beschweren, wenn Sie der Meinung sind, dass die
                Datenverarbeitung
                von personenbezogenen Daten gegen die DSGVO verstößt.</li>
        </ul>
        <p>
            <strong class="adsimple-322951769">Kurz gesagt:</strong> Sie haben Rechte &#8211; zögern Sie nicht, die
            oben
            gelistete verantwortliche Stelle bei uns zu kontaktieren!
        </p>
        <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
            datenschutzrechtlichen Ansprüche in sonst einer Weise verletzt worden sind, können Sie sich bei der
            Aufsichtsbehörde beschweren. Diese ist für Österreich die Datenschutzbehörde, deren Website Sie unter <a
                class="adsimple-322951769" href="https://www.dsb.gv.at/?tid=322951769" target="_blank"
                rel="noopener">https://www.dsb.gv.at/</a> finden. In Deutschland gibt es für jedes Bundesland einen
            Datenschutzbeauftragten. Für nähere Informationen können Sie sich an die <a class="adsimple-322951769"
                href="https://www.bfdi.bund.de/DE/Home/home_node.html" target="_blank" rel="noopener">Bundesbeauftragte
                für
                den Datenschutz und die Informationsfreiheit (BfDI)</a> wenden. Für unser Unternehmen ist die
            folgende
            lokale Datenschutzbehörde zuständig:</p>
        <p>Alle Texte sind urheberrechtlich geschützt.</p>
        <p style="margin-top:15px">Quelle: <a href="https://www.adsimple.de/datenschutz-generator/"
                title="Datenschutzerklärung Generator Deutschland">Datenschutzerklärung</a> erstellt mit dem
            Datenschutz
            Generator für Deutschland von AdSimple. Schauen Sie sich auch unsere <a
                href="https://www.adsimple.de/muster-datenschutzerklaerung/"
                title="Muster Datenschutzerklärung">Muster-Datenschutzerklärung</a> an.</p>

        }@else {

        <h1 class="adsimple-322951769">Imprint</h1>
        <p class="adsimple-322951769">Information about the service provider.</p>
        <p class="adsimple-322951769">Erich Getinger</p>
        <p class="adsimple-322951769">Fringsstraße 53, <br />41069 Mönchengladbach, <br />Germany</p>
        <p>
            <strong>Tel.:</strong> 01771480425<br />
            <strong>E-Mail:</strong> <a href="mailto:Erich.getinger@outlook.de">Erich.getinger&#64;outlook.de</a>
        </p>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <h2 id="eu-streitschlichtung" class="adsimple-322951769 fusion-responsive-typography-calculated"
            data-fontsize="24" style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            EU Dispute Resolution</h2>
        <p class="adsimple-322951769">In accordance with the regulation on online dispute resolution in consumer matters
            (ODR regulation), we would like to inform you about the online dispute resolution platform (OS
            platform).<br />
            Consumers have the possibility to file complaints with the European Commission's online dispute resolution
            platform at <a class="adsimple-322951769"
                href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=EN"
                target="_blank"
                rel="follow noopener">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=EN</a>
            The necessary contact details can be found above in our imprint.</p>
        <p class="adsimple-322951769">However, we would like to inform you that we are not willing or obligated to
            participate in dispute resolution procedures before a consumer dispute resolution body.</p>
        <h2 id="bildernachweis" class="adsimple-322951769 fusion-responsive-typography-calculated" data-fontsize="24"
            style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">
            Image Credits</h2>
        <p class="adsimple-322951769">The images, photos, and graphics on this website are copyrighted.</p>
        <p>
            <strong>The image rights belong to:</strong>
            <br />Erich Getinger
        </p>
        <div style="display:none">
        </div>
        <div style="display:none">
        </div>
        <p>All texts are copyrighted.</p>
        <p style="margin-top:15px">Source: Created with the <a href="https://www.adsimple.de/impressum-generator/"
                title="Imprint Generator Germany by AdSimple">Imprint Generator</a> by AdSimple</p>
        <h1 class="adsimple-322951769">Privacy Policy</h1>
        <h2 id="einleitung-ueberblick" class="adsimple-322951769">Introduction and Overview</h2>
        <p>We have drafted this privacy policy (version 21.02.2025-322951769) to explain to you, in accordance with the
            provisions of the <a class="adsimple-322951769"
                href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN&amp;tid=322951769#d1e2269-1-1"
                target="_blank" rel="noopener">General Data Protection Regulation (EU) 2016/679</a> and applicable
            national laws, which personal data (short: data) we as the controller – and the processors we engage (e.g.,
            providers) – process, will process in the future, and what lawful options you have. The terms used are to be
            understood in a gender-neutral manner.<br />
            <strong class="adsimple-322951769">In short:</strong> We provide comprehensive information about the data we
            process about you.
        </p>
        <p>Privacy policies usually sound very technical and use legal jargon. However, this privacy policy aims to
            describe the most important things in the simplest and most transparent way possible. Where transparency is
            beneficial, we explain technical <strong class="adsimple-322951769">terms in a user-friendly way</strong>,
            provide links to further information, and use <strong class="adsimple-322951769">graphics</strong>. Thus, we
            inform you in clear and simple language that we only process personal data in the course of our business
            activities if a corresponding legal basis is available. This is certainly not possible when giving as brief,
            unclear, and legally technical explanations, as is often the case on the internet when it comes to data
            protection. I hope you find the following explanations interesting and informative, and maybe you will learn
            something new.<br />
            If you still have questions, we ask you to contact the responsible party mentioned below or in the imprint,
            follow the provided links, and refer to further information on third-party websites. You can of course also
            find our contact details in the imprint.</p>
        <h2 id="anwendungsbereich" class="adsimple-322951769">Scope of Application</h2>
        <p>This privacy policy applies to all personal data processed by us within the company and to all personal data
            processed by companies we engage (processors). By personal data, we mean information in the sense of Art. 4
            No. 1 GDPR, such as name, email address, and postal address of a person. The processing of personal data
            ensures that we can offer and bill our services and products, whether online or offline. The scope of this
            privacy policy includes:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">All online presences (websites, online shops) operated by us</li>
            <li class="adsimple-322951769">Social media presences and email communication</li>
            <li class="adsimple-322951769">Mobile apps for smartphones and other devices</li>
        </ul>
        <p>
            <strong class="adsimple-322951769">In short:</strong> This privacy policy applies to all areas in which
            personal data is processed in a structured way within the company via the aforementioned channels. If we
            enter into legal relationships with you outside of these channels, we will inform you separately if
            necessary.
        </p>

        <h2 id="rechtsgrundlagen" class="adsimple-322951769">Legal Basis</h2>
        <p>In the following privacy policy, we provide transparent information about the legal principles and
            regulations, that is, the legal basis of the General Data Protection Regulation, which enable us to process
            personal data.<br />
            Regarding EU law, we refer to REGULATION (EU) 2016/679 OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL of 27
            April 2016. This EU General Data Protection Regulation can, of course, be read online on EUR-Lex, the access
            portal to EU law, at <a class="adsimple-322951769"
                href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=celex%3A32016R0679">https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=celex%3A32016R0679</a>
        </p>
        <p>We process your data only if at least one of the following conditions applies:</p>
        <ol>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Consent</strong> (Article 6, Paragraph 1, lit. a GDPR): You have
                given us your consent to process data for a specific purpose. An example would be storing the data you
                entered into a contact form.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Contract</strong> (Article 6, Paragraph 1, lit. b GDPR): We process
                your data in order to fulfill a contract or pre-contractual obligations. For example, when we conclude a
                purchase agreement with you, we need personal information beforehand.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Legal Obligation</strong> (Article 6, Paragraph 1, lit. c GDPR): If
                we are subject to a legal obligation, we process your data. For example, we are legally required to
                retain invoices for accounting purposes, which usually contain personal data.
            </li>
            <li class="adsimple-322951769">
                <strong class="adsimple-322951769">Legitimate Interests</strong> (Article 6, Paragraph 1, lit. f GDPR):
                In the case of legitimate interests that do not infringe on your fundamental rights, we reserve the
                right to process personal data. For example, we need to process certain data in order to operate our
                website securely and efficiently. This processing is therefore a legitimate interest.
            </li>
        </ol>
        <p>Other conditions, such as the performance of tasks in the public interest or the exercise of public
            authority, as well as the protection of vital interests, generally do not apply in our case. If such a legal
            basis is applicable, it will be specified in the relevant section.</p>
        <p>In addition to the EU Regulation, national laws also apply:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">In <strong class="adsimple-322951769">Austria</strong>, this is the Federal
                Act on the Protection of Natural Persons in the Processing of Personal Data (<strong
                    class="adsimple-322951769">Data Protection Act</strong>), abbreviated <strong
                    class="adsimple-322951769">DSG</strong>.</li>
            <li class="adsimple-322951769">In <strong class="adsimple-322951769">Germany</strong>, the <strong
                    class="adsimple-322951769">Federal Data Protection Act</strong>, abbreviated <strong
                    class="adsimple-322951769">BDSG</strong>, applies.</li>
        </ul>
        <p>If additional regional or national laws apply, we will inform you about them in the following sections.</p>

        <h2 id="kontaktdaten-verantwortliche" class="adsimple-322951769">Contact Details of the Data Controller</h2>
        <p>If you have any questions regarding data protection or the processing of personal data, you will find the
            contact details of the data controller below, as per Article 4, Paragraph 7 of the EU General Data
            Protection Regulation (GDPR):<br />
            <span class="adsimple-322951769" style="font-weight: 400">Erich Getinger<br />
                Fringsstraße 53<br />
                41069 Mönchengladbach</span>
        </p>
        <p>Email: <a href="mailto:Erich.getinger@outlook.de">Erich.getinger&#64;outlook.de</a>
            <br />
            Phone: <a href="tel:01771480425">01771480425</a>
            <br />
            Imprint: <a href="https://www.testfirma.de/impressum/">https://www.testfirma.de/impressum/</a>
        </p>
        <h2 id="speicherdauer" class="adsimple-322951769">Retention Period</h2>
        <p>We only store personal data as long as it is necessary for providing our services and products. This is the
            general principle we follow. This means we delete personal data once the reason for its processing no longer
            exists. In some cases, we are legally required to retain certain data even after the original purpose for
            its processing has ceased, for example, for accounting purposes.</p>
        <p>If you wish for your data to be deleted or wish to withdraw your consent for data processing, your data will
            be deleted as quickly as possible, provided there is no obligation to retain it.</p>
        <p>We will inform you further about the specific duration of data processing below, if we have additional
            information about it.</p>
        <h2 id="rechte-dsgvo" class="adsimple-322951769">Rights under the General Data Protection Regulation</h2>
        <p>In accordance with Articles 13 and 14 of the GDPR, we inform you about the following rights that you are
            entitled to, ensuring fair and transparent data processing:</p>
        <ul class="adsimple-322951769">
            <li class="adsimple-322951769">Under Article 15 of the GDPR, you have the right to request information on
                whether we process data about you. If this is the case, you are entitled to receive a copy of the data
                and to learn the following details:
                <ul class="adsimple-322951769">
                    <li class="adsimple-322951769">the purpose of the processing;</li>
                    <li class="adsimple-322951769">the categories of data being processed;</li>
                    <li class="adsimple-322951769">who receives the data and, if data is transferred to third countries,
                        how security can be guaranteed;</li>
                    <li class="adsimple-322951769">how long the data will be stored;</li>
                    <li class="adsimple-322951769">the existence of the right to rectification, deletion, or restriction
                        of processing, and the right to object to processing;</li>
                    <li class="adsimple-322951769">that you can file a complaint with a supervisory authority (links to
                        these authorities are provided below);</li>
                    <li class="adsimple-322951769">the origin of the data, if we did not collect it from you;</li>
                    <li class="adsimple-322951769">whether profiling is being conducted, meaning whether data is
                        automatically evaluated to create a personal profile about you.</li>
                </ul>
            </li>
            <li class="adsimple-322951769">Under Article 16 of the GDPR, you have the right to rectification of data,
                meaning that we must correct any errors in your data if you find any.</li>
            <li class="adsimple-322951769">Under Article 17 of the GDPR, you have the right to erasure ("right to be
                forgotten"), meaning you may request the deletion of your data.</li>
            <li class="adsimple-322951769">Under Article 18 of the GDPR, you have the right to restriction of
                processing, meaning we may only store your data but not further use it.</li>
            <li class="adsimple-322951769">Under Article 20 of the GDPR, you have the right to data portability, meaning
                we must provide your data to you in a commonly used format upon request.</li>
            <li class="adsimple-322951769">Under Article 21 of the GDPR, you have the right to object, which may result
                in a change in the processing of your data.
                <ul class="adsimple-322951769">
                    <li class="adsimple-322951769">If the processing of your data is based on Article 6, Paragraph 1,
                        lit. e (public interest, exercise of public authority) or Article 6, Paragraph 1, lit. f
                        (legitimate interest), you may object to the processing. We will then promptly review whether we
                        can comply with this objection.</li>
                    <li class="adsimple-322951769">If your data is used for direct marketing purposes, you may object to
                        this type of processing at any time. Afterward, we may not use your data for direct marketing.
                    </li>
                    <li class="adsimple-322951769">If your data is used for profiling, you may object to this type of
                        data processing at any time. Afterward, we may not use your data for profiling.</li>
                </ul>
            </li>
            <li class="adsimple-322951769">Under Article 22 of the GDPR, you may have the right not to be subjected to
                decisions based solely on automated processing (e.g., profiling).</li>
            <li class="adsimple-322951769">Under Article 77 of the GDPR, you have the right to lodge a complaint. This
                means you can file a complaint with the data protection authority at any time if you believe the
                processing of your personal data violates the GDPR.</li>
        </ul>
        <p><strong class="adsimple-322951769">In short:</strong> You have rights – do not hesitate to contact the
            responsible entity listed above!</p>
        <p>If you believe that the processing of your data violates data protection law or that your data protection
            rights have been violated in any way, you can file a complaint with the supervisory authority. In Austria,
            the responsible authority is the Data Protection Authority, which you can find at <a
                class="adsimple-322951769" href="https://www.dsb.gv.at/?tid=322951769" target="_blank"
                rel="noopener">https://www.dsb.gv.at/</a>. In Germany, each federal state has its own data protection
            officer. For more information, you can contact the <a class="adsimple-322951769"
                href="https://www.bfdi.bund.de/DE/Home/home_node.html" target="_blank" rel="noopener">Federal
                Commissioner for Data Protection and Freedom of Information (BfDI)</a>. For our company, the following
            local data protection authority is responsible:</p>
        <p>All texts are copyrighted.</p>
        <p style="margin-top:15px">Source: <a href="https://www.adsimple.de/datenschutz-generator/"
                title="Privacy Policy Generator Germany">Privacy Policy</a> created with the Data Protection Generator
            for Germany by AdSimple. Also, check out our <a href="https://www.adsimple.de/muster-datenschutzerklaerung/"
                title="Sample Privacy Policy">sample privacy policy</a>.</p>




        }

    </div>
</div>