<div id="skills" class="my-Skills-Container">

    <div data-aos="fade-down" data-aos-duration="1000" class="my-Skills-Contents">
        <div class="content-Title">
            @if (this.portfolio.languageGerman) {
            <span>Meine Fähigkeiten</span>
            }@else {
            <span>My Skills</span>
            }

        </div>
        <div class="icon-Container">
            <div>
                <div class="background-circle"></div>
                <img src="../../assets/img/Skills-img/Angular-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/Typescript-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/JavaScript-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/HTML-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/CSS-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/API-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/Firebase-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/Git-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/Scrum-Icon.png" alt="">
            </div>
            <div>
                <img src="../../assets/img/Skills-img/Material-Icon.png" alt="">
            </div>
            <div class="challenge-me-container"><img src="../../assets/img/Skills-img/Challenge-Icon.png" alt="">
                @if (this.portfolio.languageGerman) {
                <span>ich bin jederzeit bereit neue technologien zu erlernen</span>
                }@else {
                <span>I am always ready to learn new technologies</span>
                }
            </div>
        </div>
        <div class="arrow-Responsive"> <img src="../../assets/img/Whyme-img/Arrow 3.png" alt="">
            @if (this.portfolio.languageGerman) {
            <span>Ich bin jederzeit bereit neue technologien zu erlernen</span>
            }@else {
            <span>I am always willing to learn new technologies</span>
            }
            @if (this.portfolio.languageGerman) {
            <a href="#contact"><button class="button">Lass uns sprechen </button></a>
            }@else {
            <a href="#contact"><button class="button">Let's talk </button></a>
            }

        </div>
    </div>



</div>